a {
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.var-highlight {
    color: #ffffff;
}

.string-highlight {
    color: #5555ff;
}

#typewriter,
#typewriter2 {
    font-size: 5em;
    margin: 0;
    font-family: "Courier New";
    &:after {
        content: "|";
        animation: blink 500ms linear infinite alternate;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}